# Java / Maven
target/
*.class
.mvn/

# IntelliJ / Eclipse
.idea/
*.iml
*.classpath
*.project

# Spring Boot (logs, build)
*.log

# Node / frontend
node_modules/
dist/

# Docker / DB
pgdata/

# OS
.DS_Store
Thumbs.db
